/* Shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container-width{
    width: 1600px;
    max-width: 95%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color: #FFFFFF;
    color:rgba(70, 145, 101, 1);
    cursor: pointer;
    border: 1px solid black;
}
/* main style */
nav{
    display: flex;
    gap:345px;
    align-items: center;
}
nav .logo{
    margin: 16px 0px 16px 120px;
}
.menu{
    margin: 34px 0px;
}
.menu ul{
    display: flex;
    gap: 32px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
nav .btn-container{
    margin: 24px 120px 24px 0px;
}