/* Shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container-width{
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color: #FFFFFF;
    color:rgba(70, 145, 101, 1);
    cursor: pointer;
    border: 1px solid black;
}
.card-img{
    margin-top: 69.5px;
    width: 60px;
    height: 60px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main style */
nav{
    display: flex;
    gap:345px;
    align-items: center;
}
nav .logo{
    margin: 16px 0px 16px 120px;
}
.menu{
    margin: 34px 0px;
}
.menu ul{
    display: flex;
    gap: 32px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
nav .btn-container{
    margin: 24px 120px 24px 0px;
}
.hero{
    background: url("./assets/hero-bg.png");
    background-size: cover;
    padding: 123.5px 120px 179.5px 120px;
}
.hero .hero-content{
    text-align: center;
    padding: 51px 295px 0px 295px;
}
.hero-heading{
    margin-bottom: 16px;
}
.hero-heading h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
}
.hero-heading h1 span{
    color: #30B868
}
.hero-content p{
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;
}
.hero-content .hero-btn{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.hero-btn a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}
.hero-btn a:hover{
    background-color: rgba(70, 145, 101, 1);
    border: none;
}
/* Notes section design */
.notes{
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    gap:44px;
}
.notes-header, .card-heading, .card-text{
    /* border: 1px solid red; */
    text-align: center;
}
.notes-header h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 50px;
}
.notes-header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.notes-card-container{
    display: flex;
    gap:16px;
}
.note-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3)
    /* width: 400px; */
    /* border: 1px solid blue; */
}
.card-heading h2{
    font-weight: 500;
    font-size: 24px;
    color: #001931;
}
.card-text p{
    line-height: 20px;
    color: #627382;
}
/* brain section design */
.brain{
    padding: 120px;
}
.brain-content{
    /* border: 1px solid brown; */
    display: flex;
}
.brain-text-container{
    /* border: 1px solid blue; */
    padding: 102px 0px 102px 60px;
}
.brain-text-container h3{
    font-weight: 500;
    color:#30B868;
    margin-bottom: 16px;
}
.brain-text-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-text-container p{
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-text-container li{
    list-style: none;
    font-size: 16px;
    color: #001931;
    line-height: 20px;
    margin-bottom: 16px;
}
/* Challenge section */
.challenge{
    padding: 0px 120px 120px 120px;
}
.challenge-header{
    /* border: 1px solid green; */
    text-align: center;
    padding:80px 40px;
}
.challenge-header h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.challenge-header p{
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.challenge-header button{
    margin-bottom: 16px;
}